<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>techmon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA9C85CA1C6FE47C00837696</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA9C85E11C6FE47C00837696</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA9C85EC1C6FE47C00837696</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
